html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
}

.subtitle {
  margin: 0 auto 1rem auto;
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: 'Caveat', cursive;
}

.pen-stroke {
  position: relative;
  display: inline;
  color: #f76446;
}

.pen-stroke svg {
  position: absolute;
  top: 1.2em;
  left: 0;
  width: 100%;
  overflow: visible;
}

.pen-stroke svg path {
  fill: none;
  stroke: #f76446;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.5px;
}

#apply {
  margin-top: 2rem;
  background-color: #f76446;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 2rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}

#apply:focus,
#apply:active,
#apply:hover {
  background-color: #f94e2b;
}
